[defaults]
inventory = inventory/production
roles_path = roles
collections_path = collections
interpreter_python = auto_silent
callback_result_format = yaml
forks = 10
nocows = true

[ssh_connection]
pipelining = true
